# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
*.xcworkspace/xcuserdata/

# macOS
.DS_Store

# Keep original package for reference only
_original.zip

# IDE
.vscode/
.idea/
*.p8
AuthKey_*
p8_base64*
